html, body {
  height: 100%;
  min-height: 100%;
  font-family: 'Mitr', sans-serif !important;
  color: #393939;
}
.second{
    -webkit-animation-duration: 0.1s;
    -webkit-animation-delay: 0.5s;

    -moz-animation-duration: 0.1s;
    -moz-animation-delay: 0.5s;

    animation-duration: 0.1s;
    animation-delay: 0.5s;
}
.third{
    -webkit-animation-duration: 0.1s;
    -webkit-animation-delay: 0.5s;

    -moz-animation-duration: 0.1s;
    -moz-animation-delay: 0.5s;

    animation-duration: 0.1s;
    animation-delay: 0.5s;
}

.content {
  transition: all linear 0.5s;


}
.ng-hide {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
}
h1, h2, h3, h4 {
    font-family: 'Capriola', sans-serif !important;

}
.steps {
  height: 100%;
  min-height: 100%;
  margin-top:50px
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

ul li{
    display: inline;
}
li{
    margin:120px;
}









.img-step{
    width: 80px;
    height: 80px;
}
.step-inactive{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
/*Estilizando as animações*/
#first-animation{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.4s;

  -moz-animation-duration: 1s;
  -moz-animation-delay: 0.4s;

  animation-duration: 1s;
  animation-delay: 0.4s;
}

#second-animation{
    -webkit-animation-duration: 1.8s;
    -webkit-animation-delay: 0.6s;

    -moz-animation-duration: 1.8s;
    -moz-animation-delay: 0.6s;

    animation-duration: 1.8s;
    animation-delay: 0.6s;
}
